.pricingContainer{ padding-top: 100px; }
.pricingContainer .pricingPunchline{
  text-align: center;
  margin-bottom: 100px;
}
.pricingContainer .pricingFree{
  justify-content: center;
  align-items: center;
  display: flex;
}
.pricingContainer .pricingPremium{
  justify-content: center;
  align-items: center;
  display: flex;
}
.pricingContainer .pricingBusiness{
  justify-content: center;
  align-items: center;
  display: flex;
}
